:root {
  --navbar-color: #082032;
  --bg-color: #2C394B;
  --table-color: #334756;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar {
  padding: 0 !important;
  background-color: var(--navbar-color) !important;
}

.navbar-brand {
  font-size: 32px !important;
}

.nav {
  gap: 25px;
}

.nav-link {
  font-size: 25px;
}

/* footer  */

.footer {
  background-color: var(--navbar-color) !important;
  color: white;
  text-align: center;
  margin: auto;
  padding: 1%;
}

.d-flex, .log-btn {
  height: 40px;
  margin-top: 10px;
}

.center {
  text-align: center;
  color: white;
}

.row {
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.bodyContainer {
  padding: 3.5%;
  background-color: var(--bg-color);
  /* changed here */
  position: relative; /* for overlay */
  /* height: 115vh; fix this */
}

.tableContainer {
  padding: 3.5% 0;
  margin: 0 auto;
  width: 90%;
  background-color: var(--table-color);
  /* changed here */
  /* position: absolute; for overlay */
  /* left: 5%; to center */
}

.col-md-3 {
  width: 23.5%;
  margin: 1% 0;
  /* margin-top: 2.5%; */
  /* margin-left: 13px;
  margin-right: 13px; */
  padding: 0;
}

.card {
  width: 100% !important;
  border: none;
  cursor: pointer;
}

.card-body {
  background-color: var(--navbar-color) !important;
}

/*Card VIew*/
.view
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10%; */
  /* changed here */
  background-color: rgba(0 0 0 / 0.5); /* for opaque bg */
  position: absolute; /* for overlay */
  /* border: 5px solid yellow; visibility */
  width: 100%;
  height: 100%;
  top: 0;
}

.card-component
{
  background-color: hsl(244, 38%, 16%);
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 1rem;
  margin:  -40px auto auto;
  width: 65%;
  box-shadow: 0 3px 10px rgb(0 0 0/ 0.8);
}

.card-text 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5% 5%;
  color: white;
  width: 50%;
}

.song-header h6 {
  font-size: 14px;
  /* font-weight: 400; */
  color: hsl(260, 4%, 65%)
}

.rating-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5px;
}

.ratings p {
  height: 20px;
  margin: auto 0;
}

.play-icon-wrapper {
  background-color: var(--table-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-left: 85%;
  margin-top: -5%;
}

.play-icon {
  color: orange;
  height: 30px;
  width: 30px;
  margin: auto;
}

.card-img-wrapper
{
  border-radius: 1rem;
  background-color: purple;
  width: 50%;
}

.card-img {
  border-radius: 1rem 0 0 1rem;
}

.closeIcon {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 2% 2% auto auto;
}

/* search songs  */

.searchInputs {
  margin-top: 15px;
  display: flex;
}

.search input {
  background-color: inherit;
  border-radius: 2px;
  border: none;
  font-size: 20px;
  padding: 6px 15px;
  height: 30px;
  width: 60%;
  color: #CAF7E3;
}

.searchIcon {
  height: 20px;
  width: 20px;
  color: white;
  margin-top: 5px;
}

input:focus {
  outline: none;
}

.searchBar:focus {
  border-bottom: 1px solid white;
}


/* about us  */

.aboutUsContainer {
  /* background-color: var(--table-color); */
  background-image: url("./images/album.jpg");
  /* text-align: center; */
  background-size: 55%;
  padding: 120px 0;
  width: 100%;
  
}

.innerContainer {
  width: 55%;
  float: right;
  background-color: rgb(90 90 90 / 0.5);
  color: #fdfdfd;
  padding: 120px; 
  margin: 0;
  border-radius: 50% 0 0 50%;
}

.about {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--table-color);
  padding: 0;
  margin: 0;
  text-align: center;
}

.innerContainer h1{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 900;  
}

.text {
  font-size: 18px;
  font-weight: bold;
  color: #fdfdfd;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900; 
}

.icons {
  margin: 20px !important;
}

